### Titanic data

- 파일 업로드

In [273]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [274]:
df = sns.load_dataset('titanic')
df.head(3)

   survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0         0       3    male  22.0  ...   NaN  Southampton     no  False
1         1       1  female  38.0  ...     C    Cherbourg    yes  False
2         1       3  female  26.0  ...   NaN  Southampton    yes   True

[3 rows x 15 columns]

### 1. 데이터 전처리

- feature selection

In [275]:
df = df[['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'embarked', 'deck']]
df.head(3)

   survived  pclass     sex   age  sibsp  parch embarked deck
0         0       3    male  22.0      1      0        S  NaN
1         1       1  female  38.0      1      0        C    C
2         1       3  female  26.0      0      0        S  NaN

- 결측치 처리

In [276]:
df.isna().sum()

survived      0
pclass        0
sex           0
age         177
sibsp         0
parch         0
embarked      2
deck        688
dtype: int64

In [277]:
# age는 age의 평균으로 대체
df.age.fillna(df.age.mean(), inplace=True)

In [278]:
# embarked 컬럼은 최빈값으로 대체
df.embarked.value_counts()

S    644
C    168
Q     77
Name: embarked, dtype: int64

In [279]:
df.embarked.fillna('S', inplace=True)

In [280]:
# deck 컬럼은 삭제
df.drop(columns=['deck'], inplace=True)

In [281]:
df.head(3)

   survived  pclass     sex   age  sibsp  parch embarked
0         0       3    male  22.0      1      0        S
1         1       1  female  38.0      1      0        C
2         1       3  female  26.0      0      0        S

- 카테고리 값을 숫자로 변환하기

In [282]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df.sex = le.fit_transform(df.sex)               # 0: female, 1: male
df.embarked = le.fit_transform(df.embarked)     # 0: C, 1: Q, 2: S
df.head(3)

   survived  pclass  sex   age  sibsp  parch  embarked
0         0       3    1  22.0      1      0         2
1         1       1    0  38.0      1      0         0
2         1       3    0  26.0      0      0         2

In [283]:
df.isna().sum()

survived    0
pclass      0
sex         0
age         0
sibsp       0
parch       0
embarked    0
dtype: int64

### 2. Train/Test dataset 분리

In [284]:
X = df.iloc[:,1:].values
y = df.survived.values

In [285]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
   X, y, stratify=y, test_size=0.2, random_state=2022
)

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((712, 6), (179, 6), (712,), (179,))

In [286]:
from sklearn.preprocessing import StandardScaler
X_scaled = StandardScaler().fit_transform(X)
X_scaled.shape

(891, 6)

### 3. 모델 정의/설정

In [287]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [215]:
# 모델저장
import os
if not os.path.exists('model'):
    os.mkdir('model')

In [216]:
model_path = 'model/best_titanic.h5'

In [291]:
# 모델 학습 / 저장
from tensorflow.keras.callbacks import ModelCheckpoint
checkpoint = ModelCheckpoint(model_path, monitor='val_loss', verbose=1, save_best_only=True)

- model1: 은닉층 2개

In [289]:
model1 = Sequential([ 
    Dense(100, input_dim=6, activation='relu'),
    Dense(80, activation='relu'),
    Dense(1, activation='sigmoid')
])
model1.summary()

Model: "sequential_48"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_240 (Dense)           (None, 100)               700

 dense_241 (Dense)           (None, 80)                8080

 dense_242 (Dense)           (None, 1)                 81

=================================================================
Total params: 8,861
Trainable params: 8,861
Non-trainable params: 0
_________________________________________________________________

In [290]:
model1.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [292]:
history = model1.fit(X_train, y_train, validation_split=0.2, verbose=0,
                     epochs=100, batch_size=100,
                     callbacks=[checkpoint])
model1.evaluate(X_test, y_test)

Epoch 00001: val_loss improved from inf to 0.67782, saving model to model/titanic_two.h5

Epoch 00002: val_loss did not improve from 0.67782

Epoch 00003: val_loss improved from 0.67782 to 0.63400, saving model to model/titanic_two.h5

Epoch 00004: val_loss improved from 0.63400 to 0.62302, saving model to model/titanic_two.h5

Epoch 00005: val_loss did not improve from 0.62302

Epoch 00006: val_loss improved from 0.62302 to 0.60610, saving model to model/titanic_two.h5

Epoch 00007: val_loss did not improve from 0.60610

Epoch 00008: val_loss improved from 0.60610 to 0.58731, saving model to model/titanic_two.h5

Epoch 00009: val_loss did not improve from 0.58731

Epoch 00010: val_loss improved from 0.58731 to 0.58236, saving model to model/titanic_two.h5

Epoch 00011: val_loss improved from 0.58236 to 0.56395, saving model to model/titanic_two.h5

Epoch 00012: val_loss improved from 0.56395 to 0.56295, saving model to model/titanic_two.h5

Epoch 00013: val_loss improved from 0.56295 to 0.56003, saving model to model/titanic_two.h5

Epoch 00014: val_loss improved from 0.56003 to 0.54345, saving model to model/titanic_two.h5

Epoch 00015: val_loss did not improve from 0.54345

Epoch 00016: val_loss improved from 0.54345 to 0.53306, saving model to model/titanic_two.h5

Epoch 00017: val_loss did not improve from 0.53306

Epoch 00018: val_loss improved from 0.53306 to 0.52451, saving model to model/titanic_two.h5

Epoch 00019: val_loss did not improve from 0.52451

Epoch 00020: val_loss did not improve from 0.52451

Epoch 00021: val_loss did not improve from 0.52451

Epoch 00022: val_loss improved from 0.52451 to 0.50786, saving model to model/titanic_two.h5

Epoch 00023: val_loss did not improve from 0.50786

Epoch 00024: val_loss did not improve from 0.50786

Epoch 00025: val_loss did not improve from 0.50786

Epoch 00026: val_loss did not improve from 0.50786

Epoch 00027: val_loss did not improve from 0.50786

Epoch 00028: val_loss improved from 0.50786 to 0.49669, saving model to model/titanic_two.h5

Epoch 00029: val_loss did not improve from 0.49669

Epoch 00030: val_loss did not improve from 0.49669

Epoch 00031: val_loss did not improve from 0.49669

Epoch 00032: val_loss improved from 0.49669 to 0.49164, saving model to model/titanic_two.h5

Epoch 00033: val_loss did not improve from 0.49164

Epoch 00034: val_loss did not improve from 0.49164

Epoch 00035: val_loss did not improve from 0.49164

Epoch 00036: val_loss improved from 0.49164 to 0.48933, saving model to model/titanic_two.h5

Epoch 00037: val_loss did not improve from 0.48933

Epoch 00038: val_loss did not improve from 0.48933

Epoch 00039: val_loss did not improve from 0.48933

Epoch 00040: val_loss did not improve from 0.48933

Epoch 00041: val_loss did not improve from 0.48933

Epoch 00042: val_loss did not improve from 0.48933

Epoch 00043: val_loss did not improve from 0.48933

Epoch 00044: val_loss did not improve from 0.48933

Epoch 00045: val_loss did not improve from 0.48933

Epoch 00046: val_loss did not improve from 0.48933

Epoch 00047: val_loss did not improve from 0.48933

Epoch 00048: val_loss did not improve from 0.48933

Epoch 00049: val_loss did not improve from 0.48933

Epoch 00050: val_loss did not improve from 0.48933

Epoch 00051: val_loss improved from 0.48933 to 0.48740, saving model to model/titanic_two.h5

Epoch 00052: val_loss did not improve from 0.48740

Epoch 00053: val_loss did not improve from 0.48740

Epoch 00054: val_loss did not improve from 0.48740

Epoch 00055: val_loss did not improve from 0.48740

Epoch 00056: val_loss did not improve from 0.48740

Epoch 00057: val_loss did not improve from 0.48740

Epoch 00058: val_loss did not improve from 0.48740

Epoch 00059: val_loss did not improve from 0.48740

Epoch 00060: val_loss did not improve from 0.48740

Epoch 00061: val_loss did not improve from 0.48740

Epoch 00062: val_loss did not improve from 0.48740

Epoch 00063: val_loss did not improve from 0.48740

Epoch 00064: val_loss did not improve from 0.48740

Epoch 00065: val_loss did not improve from 0.48740

Epoch 00066: val_loss did not improve from 0.48740

Epoch 00067: val_loss did not improve from 0.48740

Epoch 00068: val_loss did not improve from 0.48740

Epoch 00069: val_loss did not improve from 0.48740

Epoch 00070: val_loss did not improve from 0.48740

Epoch 00071: val_loss did not improve from 0.48740

Epoch 00072: val_loss did not improve from 0.48740

Epoch 00073: val_loss did not improve from 0.48740

Epoch 00074: val_loss did not improve from 0.48740

Epoch 00075: val_loss did not improve from 0.48740

Epoch 00076: val_loss did not improve from 0.48740

Epoch 00077: val_loss did not improve from 0.48740

Epoch 00078: val_loss did not improve from 0.48740

Epoch 00079: val_loss did not improve from 0.48740

Epoch 00080: val_loss did not improve from 0.48740

Epoch 00081: val_loss did not improve from 0.48740

Epoch 00082: val_loss did not improve from 0.48740

Epoch 00083: val_loss did not improve from 0.48740

Epoch 00084: val_loss did not improve from 0.48740

Epoch 00085: val_loss did not improve from 0.48740

Epoch 00086: val_loss did not improve from 0.48740

Epoch 00087: val_loss did not improve from 0.48740

Epoch 00088: val_loss did not improve from 0.48740

Epoch 00089: val_loss did not improve from 0.48740

Epoch 00090: val_loss did not improve from 0.48740

Epoch 00091: val_loss did not improve from 0.48740

Epoch 00092: val_loss did not improve from 0.48740

Epoch 00093: val_loss did not improve from 0.48740

Epoch 00094: val_loss did not improve from 0.48740

Epoch 00095: val_loss did not improve from 0.48740

Epoch 00096: val_loss did not improve from 0.48740

Epoch 00097: val_loss did not improve from 0.48740

Epoch 00098: val_loss did not improve from 0.48740

Epoch 00099: val_loss did not improve from 0.48740

Epoch 00100: val_loss did not improve from 0.48740
6/6 [==============================] - 0s 2ms/step - loss: 0.4296 - accuracy: 0.8324

[0.4295872151851654, 0.832402229309082]

- model2: 은닉층 4개

In [297]:
model2 = Sequential([ 
    Dense(120, input_dim=6, activation='relu'),
    Dense(100, activation='relu'),
    Dense(100, activation='relu'),
    Dense(80, activation='relu'),
    Dense(1, activation='sigmoid')
])
model2.summary()

Model: "sequential_49"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_243 (Dense)           (None, 120)               840

 dense_244 (Dense)           (None, 100)               12100

 dense_245 (Dense)           (None, 100)               10100

 dense_246 (Dense)           (None, 80)                8080

 dense_247 (Dense)           (None, 1)                 81

=================================================================
Total params: 31,201
Trainable params: 31,201
Non-trainable params: 0
_________________________________________________________________

In [298]:
model2.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
history2 = model2.fit(X_train, y_train, validation_split=0.2, verbose=0,
                    epochs=100, batch_size=100)

In [299]:
from tensorflow.keras.callbacks import EarlyStopping
early_stopping = EarlyStopping(patience=20)

In [300]:
history2 = model2.fit(X_train, y_train, validation_split=0.2, verbose=2,
                 epochs = 200, batch_size=200, 
                 callbacks = [checkpoint, early_stopping])

Epoch 1/200

Epoch 00001: val_loss did not improve from 0.48740
3/3 - 0s - loss: 0.3589 - accuracy: 0.8506 - val_loss: 0.8590 - val_accuracy: 0.8042 - 67ms/epoch - 22ms/step
Epoch 2/200

Epoch 00002: val_loss did not improve from 0.48740
3/3 - 0s - loss: 0.3564 - accuracy: 0.8506 - val_loss: 0.8641 - val_accuracy: 0.7972 - 31ms/epoch - 10ms/step
Epoch 3/200

Epoch 00003: val_loss did not improve from 0.48740
3/3 - 0s - loss: 0.3590 - accuracy: 0.8541 - val_loss: 0.8522 - val_accuracy: 0.7902 - 33ms/epoch - 11ms/step
Epoch 4/200

Epoch 00004: val_loss did not improve from 0.48740
3/3 - 0s - loss: 0.3568 - accuracy: 0.8559 - val_loss: 0.8647 - val_accuracy: 0.7972 - 39ms/epoch - 13ms/step
Epoch 5/200

Epoch 00005: val_loss did not improve from 0.48740
3/3 - 0s - loss: 0.3545 - accuracy: 0.8506 - val_loss: 0.8674 - val_accuracy: 0.7972 - 39ms/epoch - 13ms/step
Epoch 6/200

Epoch 00006: val_loss did not improve from 0.48740
3/3 - 0s - loss: 0.3601 - accuracy: 0.8506 - val_loss: 0.8796 - val_accuracy: 0.7972 - 46ms/epoch - 15ms/step
Epoch 7/200

Epoch 00007: val_loss did not improve from 0.48740
3/3 - 0s - loss: 0.3597 - accuracy: 0.8418 - val_loss: 0.8796 - val_accuracy: 0.7972 - 39ms/epoch - 13ms/step
Epoch 8/200

Epoch 00008: val_loss did not improve from 0.48740
3/3 - 0s - loss: 0.3509 - accuracy: 0.8524 - val_loss: 0.8780 - val_accuracy: 0.7902 - 39ms/epoch - 13ms/step
Epoch 9/200

Epoch 00009: val_loss did not improve from 0.48740
3/3 - 0s - loss: 0.3597 - accuracy: 0.8453 - val_loss: 0.8860 - val_accuracy: 0.7902 - 37ms/epoch - 12ms/step
Epoch 10/200

Epoch 00010: val_loss did not improve from 0.48740
3/3 - 0s - loss: 0.3726 - accuracy: 0.8436 - val_loss: 0.8719 - val_accuracy: 0.7972 - 57ms/epoch - 19ms/step
Epoch 11/200

Epoch 00011: val_loss did not improve from 0.48740
3/3 - 0s - loss: 0.3709 - accuracy: 0.8278 - val_loss: 0.8703 - val_accuracy: 0.7902 - 36ms/epoch - 12ms/step
Epoch 12/200

Epoch 00012: val_loss did not improve from 0.48740
3/3 - 0s - loss: 0.3849 - accuracy: 0.8348 - val_loss: 0.8819 - val_accuracy: 0.7972 - 36ms/epoch - 12ms/step
Epoch 13/200

Epoch 00013: val_loss did not improve from 0.48740
3/3 - 0s - loss: 0.3654 - accuracy: 0.8436 - val_loss: 0.8849 - val_accuracy: 0.7762 - 42ms/epoch - 14ms/step
Epoch 14/200

Epoch 00014: val_loss did not improve from 0.48740
3/3 - 0s - loss: 0.3742 - accuracy: 0.8436 - val_loss: 0.9027 - val_accuracy: 0.7902 - 39ms/epoch - 13ms/step
Epoch 15/200

Epoch 00015: val_loss did not improve from 0.48740
3/3 - 0s - loss: 0.3735 - accuracy: 0.8401 - val_loss: 0.8863 - val_accuracy: 0.7972 - 37ms/epoch - 12ms/step
Epoch 16/200

Epoch 00016: val_loss did not improve from 0.48740
3/3 - 0s - loss: 0.3611 - accuracy: 0.8471 - val_loss: 0.8894 - val_accuracy: 0.7902 - 42ms/epoch - 14ms/step
Epoch 17/200

Epoch 00017: val_loss did not improve from 0.48740
3/3 - 0s - loss: 0.3606 - accuracy: 0.8471 - val_loss: 0.9079 - val_accuracy: 0.7902 - 35ms/epoch - 12ms/step
Epoch 18/200

Epoch 00018: val_loss did not improve from 0.48740
3/3 - 0s - loss: 0.3593 - accuracy: 0.8489 - val_loss: 0.8977 - val_accuracy: 0.7972 - 70ms/epoch - 23ms/step
Epoch 19/200

Epoch 00019: val_loss did not improve from 0.48740
3/3 - 0s - loss: 0.3551 - accuracy: 0.8524 - val_loss: 0.9043 - val_accuracy: 0.7972 - 44ms/epoch - 15ms/step
Epoch 20/200

Epoch 00020: val_loss did not improve from 0.48740
3/3 - 0s - loss: 0.3541 - accuracy: 0.8489 - val_loss: 0.8954 - val_accuracy: 0.7972 - 37ms/epoch - 12ms/step
Epoch 21/200

Epoch 00021: val_loss did not improve from 0.48740
3/3 - 0s - loss: 0.3515 - accuracy: 0.8524 - val_loss: 0.8973 - val_accuracy: 0.7972 - 44ms/epoch - 15ms/step
Epoch 22/200

Epoch 00022: val_loss did not improve from 0.48740
3/3 - 0s - loss: 0.3552 - accuracy: 0.8576 - val_loss: 0.8972 - val_accuracy: 0.7972 - 32ms/epoch - 11ms/step
Epoch 23/200

Epoch 00023: val_loss did not improve from 0.48740
3/3 - 0s - loss: 0.3519 - accuracy: 0.8541 - val_loss: 0.9001 - val_accuracy: 0.7972 - 39ms/epoch - 13ms/step

In [301]:
model2.evaluate(X_test, y_test)

6/6 [==============================] - 0s 3ms/step - loss: 0.4089 - accuracy: 0.8268

[0.4088822305202484, 0.826815664768219]

- 은닉층 6개

In [306]:
model3 = Sequential([ 
    Dense(120, input_dim=6, activation='relu'),
    Dense(120, activation='relu'),
    Dense(100, activation='relu'),    
    Dense(100, activation='relu'),
    Dense(60, activation='relu'),
    Dense(48, activation='relu'),
    Dense(1, activation='sigmoid')
])
model3.summary()

Model: "sequential_51"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_255 (Dense)           (None, 120)               840

 dense_256 (Dense)           (None, 120)               14520

 dense_257 (Dense)           (None, 100)               12100

 dense_258 (Dense)           (None, 100)               10100

 dense_259 (Dense)           (None, 60)                6060

 dense_260 (Dense)           (None, 48)                2928

 dense_261 (Dense)           (None, 1)                 49

=================================================================
Total params: 46,597
Trainable params: 46,597
Non-trainable params: 0
_________________________________________________________________

In [307]:
model3.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
history3 = model3.fit(X_train, y_train, validation_split=0.2, verbose=0,
                    epochs=100, batch_size=100)
model3.evaluate(X_test, y_test)

6/6 [==============================] - 0s 3ms/step - loss: 0.4193 - accuracy: 0.8324

[0.41927123069763184, 0.832402229309082]

In [308]:
from tensorflow.keras.callbacks import EarlyStopping
early_stopping = EarlyStopping(patience=20)

In [309]:
model_path = 'model/titanic_two.h5'
checkpoint = ModelCheckpoint(
    model_path, monitor='val_loss', verbose=0, save_best_only=True
)

In [310]:
history3 = model3.fit(X_train, y_train, validation_split=0.2, verbose=2,
                 epochs = 200, batch_size=200, 
                 callbacks = [checkpoint, early_stopping])

Epoch 1/200
3/3 - 0s - loss: 0.3577 - accuracy: 0.8524 - val_loss: 0.8201 - val_accuracy: 0.7902 - 108ms/epoch - 36ms/step
Epoch 2/200
3/3 - 0s - loss: 0.3573 - accuracy: 0.8524 - val_loss: 0.8288 - val_accuracy: 0.7902 - 37ms/epoch - 12ms/step
Epoch 3/200
3/3 - 0s - loss: 0.3559 - accuracy: 0.8489 - val_loss: 0.8453 - val_accuracy: 0.7972 - 39ms/epoch - 13ms/step
Epoch 4/200
3/3 - 0s - loss: 0.3553 - accuracy: 0.8471 - val_loss: 0.8408 - val_accuracy: 0.7902 - 39ms/epoch - 13ms/step
Epoch 5/200
3/3 - 0s - loss: 0.3548 - accuracy: 0.8489 - val_loss: 0.8449 - val_accuracy: 0.7972 - 43ms/epoch - 14ms/step
Epoch 6/200
3/3 - 0s - loss: 0.3535 - accuracy: 0.8506 - val_loss: 0.8460 - val_accuracy: 0.8042 - 47ms/epoch - 16ms/step
Epoch 7/200
3/3 - 0s - loss: 0.3569 - accuracy: 0.8506 - val_loss: 0.8484 - val_accuracy: 0.7832 - 41ms/epoch - 14ms/step
Epoch 8/200
3/3 - 0s - loss: 0.3541 - accuracy: 0.8541 - val_loss: 0.8571 - val_accuracy: 0.7902 - 39ms/epoch - 13ms/step
Epoch 9/200
3/3 - 0s - loss: 0.3547 - accuracy: 0.8506 - val_loss: 0.8663 - val_accuracy: 0.7972 - 43ms/epoch - 14ms/step
Epoch 10/200
3/3 - 0s - loss: 0.3601 - accuracy: 0.8418 - val_loss: 0.8651 - val_accuracy: 0.7972 - 40ms/epoch - 13ms/step
Epoch 11/200
3/3 - 0s - loss: 0.3609 - accuracy: 0.8453 - val_loss: 0.8702 - val_accuracy: 0.8042 - 41ms/epoch - 14ms/step
Epoch 12/200
3/3 - 0s - loss: 0.3693 - accuracy: 0.8453 - val_loss: 0.8834 - val_accuracy: 0.7972 - 42ms/epoch - 14ms/step
Epoch 13/200
3/3 - 0s - loss: 0.3672 - accuracy: 0.8383 - val_loss: 0.8783 - val_accuracy: 0.7972 - 42ms/epoch - 14ms/step
Epoch 14/200
3/3 - 0s - loss: 0.3546 - accuracy: 0.8436 - val_loss: 0.9010 - val_accuracy: 0.7762 - 45ms/epoch - 15ms/step
Epoch 15/200
3/3 - 0s - loss: 0.3727 - accuracy: 0.8366 - val_loss: 0.8719 - val_accuracy: 0.8042 - 49ms/epoch - 16ms/step
Epoch 16/200
3/3 - 0s - loss: 0.3642 - accuracy: 0.8348 - val_loss: 0.8786 - val_accuracy: 0.7972 - 56ms/epoch - 19ms/step
Epoch 17/200
3/3 - 0s - loss: 0.3576 - accuracy: 0.8453 - val_loss: 0.9038 - val_accuracy: 0.7762 - 48ms/epoch - 16ms/step
Epoch 18/200
3/3 - 0s - loss: 0.3607 - accuracy: 0.8418 - val_loss: 0.8883 - val_accuracy: 0.8112 - 54ms/epoch - 18ms/step
Epoch 19/200
3/3 - 0s - loss: 0.3627 - accuracy: 0.8383 - val_loss: 0.8880 - val_accuracy: 0.8042 - 52ms/epoch - 17ms/step
Epoch 20/200
3/3 - 0s - loss: 0.3548 - accuracy: 0.8489 - val_loss: 0.9063 - val_accuracy: 0.7972 - 44ms/epoch - 15ms/step
Epoch 21/200
3/3 - 0s - loss: 0.3549 - accuracy: 0.8453 - val_loss: 0.9051 - val_accuracy: 0.7972 - 44ms/epoch - 15ms/step

In [311]:
model3.evaluate(X_test, y_test)

6/6 [==============================] - 0s 3ms/step - loss: 0.4224 - accuracy: 0.8324

[0.4224105179309845, 0.832402229309082]